.success {
	background: var(--aside-color);
}
.success main {
	overflow: hidden;
}
.success .layout {
	grid-template-columns: 70px 1fr;
}
.success-message {
	z-index: 9999!important;
}
canvas {
    z-index: 999;
}
.success .layout main {
  grid-column: 2;
  column-span: 2;
}
.success .main {
	display: flex;
	flex-direction: column;
}
.success .main article {
	order: 2;
}
.success .main > div {
	margin:  3rem 0 0;
	order: 1;
}
.success .main > div figure {
	margin: 0;
}
.success h1 svg {
	width: 32px;
	margin-right: 5px;
}
.success h1 strong {
	font-size: 2.7rem;
	line-height: 1.8rem;
	display: block;
}
@media (min-width: 768px) {
	.success .main {
		flex-direction: row;
	}
	.success .main article {
		width: 70%;
		order: 1;
	}
	.success .main > div {
		width: 30%;
		padding-top: 3rem;
		order: 2;
	}
	.success .main > div figure {
		margin:  0;
	}
}