.home main .grid {
    grid-template-columns: 40% 60%;
    height: 100vh;
}
.home main .grid > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}
.home main .grid figure {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.home main .grid figure svg {
    height: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media ( max-width: 480px ) {
    .home main {
        padding-top: 0px;
    }
    .home .grid {
        display: block;
    }
    .home main .grid > figure {
        height: 300px;
        background: #fff url(/chris-walking-small.jpg);
        background-size: cover;
        background-position: center;
        margin-bottom: 25px;
        border-bottom: 5px solid var(--accent-color);
    }
    .home .grid figure svg {
        display: none;
    }
}
@media ( min-width: 1024px ) {
    .home main {
        overflow: hidden;
    }
    .home main .grid > div {
        padding-right: 4rem;
    }
}
@media ( max-width: 768px ) {
    .home div.app {
        grid-template-areas:
            "header main main"
            "header main main";
    }
}