.search main {
	height: 100vh;
}
.examples button {
	@apply bg-yellow-200 px-1 py-0 inline-block text-xs text-gray-800
}
.badge {
	top: -1px;
}
.badge.services {
    @apply bg-green-300;
}
.badge.themes {
    @apply bg-yellow-300;
}
.badge.designs {
    @apply bg-blue-300;
}
.badge.portfolio {
    @apply bg-indigo-300;
}
.badge.tutorials {
    @apply bg-purple-300;
}
.badge.journal {
    @apply bg-red-300;
}

/* @media ( max-width: 640px ) {
	.search main {
		height: calc(100vh - 52px);
	}
} */