.video-item {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.video-item svg {
	margin-right: .5rem;
}
@media ( max-width: 480px ) {
	.video-item h2 {
			margin: 0;
			font-size: 1rem;
			line-height: 1.1;
	}
	.video-item h2 span {
		display: none;
	}
}

@media ( min-width: 700px ) {
	.video-item h2 {
			margin: 0;
	}
	.video-item svg {
			margin-right: 1rem;
			transform: scale(.9);
	}
	.video-item:hover svg {
			transform: scale(1);
	}
	.video-item:hover svg path {
			fill: #111;
			stroke: #111;
	}
	div#silentbox-overlay__container {
			height: 550px;
			overflow: hidden;
	}
	.video-item h2 span {
			background: #000;
			color: #fff;
			font-size: 1rem;
			margin-left: 1rem;
			display: inline-block;
			line-height: 1;
			padding: 2px 5px;
			border-radius: 2px;
	}
}
div#silentbox-overlay__content {
		display: flex;
		align-items: center;
		justify-content: center;
}
div#silentbox-overlay__embed {
		bottom: 0;
		cursor: default;
		height: auto;
		width: 75%;
		position: static;
}

:root [data-theme=dark] .video-item svg path{
    stroke: #ffffffc9;
}
:root [data-theme=dark] .video-item svg circle{
    stroke: #999;
}
:root [data-theme=dark] .video-item:hover svg path {
    fill: #ffc800;
    stroke: #ffc800;
}
:root [data-theme=dark] .video-item:hover svg circle {
    stroke: #fff;
}