/* Sub-Navigation
****************************************************/
aside {
	background: #f3f7f9;
}
.secondary {
    @apply flex flex-col items-start;
    & > a.active,
    & > a:hover {
        color: #1C2F39;
    }
    a {
        color: #000000a1;
    }
    a.active:before {
        left: 0;
    }
    a:after {
        display: none;
    }
    a.active span {
        color: #000;
    }
    .active {
        position: relative;
        width: auto;
        opacity: 1;
        z-index: 9;
    }
    .active:before {
        content: "";
        height: 3px;
        background: #ffc800af;
        width: 80%;
        display: block;
        position: absolute;
        left: 2px;
        bottom: 3px;
        z-index: -1;
        transform: skewX(-30deg);
    }
}