/* Sub-Navigation
****************************************************/
aside {
    background-color: var(--aside-bg);
    @apply shadow-2xl;
}
.secondary {
    .external {
        position: relative;
    }
    .external img {
        opacity: 0;
        position: absolute;
        left: -16px;
        top: 2px;
    }
    .external.social img {
        top: 7px;
    }
    .external:hover img {
        opacity: 1;
    }
    
    @apply flex flex-col items-start;
    & > a.active,
    & > a:hover {
        color: #1C2F39;
    }
    a {
        color: #000000a1;
    }
    a:focus {
        outline: none;
    }
    a.active:before {
        left: 0;
    }
    a:after {
        display: none;
    }
    a.active span {
        color: #000;
    }
    .active {
        position: relative;
        width: auto;
        opacity: 1;
        z-index: 9;
    }
    .active:before {
        content: "";
        height: 3px;
        background: #ffc800af;
        width: 80%;
        display: block;
        position: absolute;
        left: 2px;
        bottom: 12px;
        z-index: -1;
        transform: skewX(-30deg);
    }
}