/* Dark Mode
****************************************************/
[data-theme=dark] {
    /* Override default variables */
    --header-bg: rgba(0, 0, 0, 0.95);
    --aside-bg: rgba(9, 9, 9, 0.95);
    --main-bg: rgba(19, 19, 19, 0.95);
    --heading-color: #fff;
    --form-inputs: #000;
    &.resume {
        .resume-body {
            h2 {
                @apply text-accent;
            }
            .date {
                @apply text-gray-200;
            }
            .contact-info span,
            .link {
                @apply text-white;
            }
        }
        figure svg path {
            fill: var(--accent-color);
        }
    }
    /* Header */
    header {
        border-right: 1px solid #000;
    }
    .mobile-links {
        background: #fff;
        a {
            color: #111;
            border-color: #ddd;
        }
    }

    /* Sub-Navigation */
    .secondary {
        a {
            @apply text-gray-500;
        }
        .active span {
            @apply text-white;
            text-shadow: 1px 1px 0 #000;
            font-weight: bold;
        }
        a:not(.active):hover:after {
            color: #fff;
        }
        img {
            filter: invert(1);
        }
    }

    /* Main Body */
    main {
        background-repeat: no-repeat;
        background-size: cover;
    
        h1 {
            @apply text-white;
            text-shadow: 1px 1px 0 rgba(0,0,0,1);
        }
        h2 {
            @apply text-gray-100;
        }
        h3 {
            @apply text-white;
        }
        h4 {
            @apply text-white;
        }
        h5 {
            @apply text-white;
        }
        p, li {
            color: #888;
        }
        h1 + p {
            color: #eee;
        }
        a:not(.image):not(.link) {
            @apply px-2 py-1 text-sm text-black uppercase border-b bg-accent border-accent;
        }
    }

    /* Two Columns */
    &.two-col .app main {
        background: rgba(19, 19, 19, 0.95);
    }
    /* Forms */
    .form-input,
    .form-select,
    textarea,
    .form-textarea {
        @apply bg-gray-900 border-black;
    }
    .form-input:focus,
     .form-textarea:focus {
        color: #000;
    }
    label {
        @apply text-white;
        span {
            @apply text-gray-300;
        }
    }
    form {
        button[type="submit"] {
            @apply text-black bg-accent;
        }
    }
    .form-input:focus,
    .form-textarea:focus {
        @apply bg-white border-accent;
    }

    /* Cards */
    .card-image a img {
        filter: saturate(0);
        opacity: .9;
        transition: all .3s ease-out;
        border-bottom: 0;
    }
    .card-image a:hover img {
        filter: saturate(1);
        opacity: 1;
    }

    /* SVG's */
    &.home, &.about {
        main {
            path {
                fill: #ffc800;
            }
        }
    }
}