@import 'header.css';
@import 'aside.css';
@import 'main.css';
@import 'browser.css';
@import 'forms.css';
@import 'darkmode.css';
@import 'media-queries.css';

/***
  + Variables
  ************************************************/
:root {
    --header-bg: #13171bf2;
    --aside-bg: #f3f7f9f7;
    --main-bg: #fffffff7;
    --accent-color: #ffc800;
    --heading-color: #1C2F39;
    --form-inputs: #fff;
    --bg-image: url(/topography.svg);
}

html {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

body {
    @apply overflow-hidden;
}

.bg {
    background-color: var(--aside-bg);
    background-image: var(---bg-image);
}

@media ( min-width: 640px ) {
    .two-col .app {
        grid-template-columns: 80px 1fr;
        grid-template-areas:
        "header main main"
        "header main main";
    }
}