@import 'header.css';
@import 'aside.css';
@import 'main.css';
@import 'browser.css';
@import 'buttons.css';
@import 'forms.css';
@import 'cookie-notice.css';
@import 'scrollbar.css';
@import 'darkmode.css';
@import 'media-queries.css';

/***
  + Variables
  ************************************************/
:root {
    --header-bg: #13171bf2;
    --aside-bg: #f3f7f9f7;
    --main-bg: #fffffff7;
    --accent-color: #ffc800;
    --heading-color: #1C2F39;
    --form-inputs: #fff;
    --bg-image: url(/topography.svg);
}

html {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

body {
    @apply overflow-hidden;
}

.bg {
    background-color: var(--aside-bg);
    background-image: var(---bg-image);
}

/* main {
    & div:not(.content) a:not(.image):not(.link):not(.btn) {
        @apply px-4 py-1 text-sm text-black bg-gray-100 rounded-full;
        text-decoration: none;
        font-weight: 700;
    }
    & div:not(.content) a:not(.image):not(.link):not(.btn) {
        @apply bg-gray-200;
    }
} */

main a {
    @apply font-bold underline;
}
@media ( min-width: 640px ) {
    .two-col .app {
        grid-template-columns: 80px 1fr;
        grid-template-areas:
        "header main main"
        "header main main";
    }
}

.scroll-area {
  position: relative;
  margin: auto;
  height: 100%;
}

#app .drawer-mask {
    background-color: rgba(19, 23, 27, .8);
    opacity: 1!important;
    /* background-image: url(/topography-bg.svg); */
    border-right: 5px solid var(--accent-color);
}

div#cookie-bar {
    padding: 10px 15px 20px 0;
    background: #000;
    border-top: 5px solid var(--accent-color)!important;
}
#cookie-bar-button {
    background: #fff;
    text-shadow: none;
    color: #000!important;
    height: auto!important;
    line-height: 1!important;
    padding: 5px!important;
    margin-right: 5px;
}
/* .home .content {
    display: block;
} */