/* Header
****************************************************/
header {
    background-color: var(--header-bg);
    svg, a {
        transition: all .3s ease-out;
    }
    nav {
        a {
            @apply transition-opacity duration-100 ease-out;
	        color: rgba(255,255,255,0.7);
        }
        .active {
            color: #fff;
            path, circle {
                stroke: #ffc800;
            }
        }
        svg {
            width: 16px;
        }
        path, circle {
            stroke: rgba(255,255,255,0.7);
        } 
    }
    .primary a {
        padding: 7px;
    }
    .primary .active {
        border-radius: 50%;
        width: 32px;
        height: 32px; 
        background: #222;
        border: 1px solid #00000078;
        box-shadow: 0 1px 1px #ffffff3b;
    }
    .mobile-links .active {
        color: #000;
        font-weight: bold;
    }
    .logo:focus,
    nav a:focus {
        outline: none transparent;
        box-shadow: 0 0;
    }
    nav a:focus svg path,
    nav a:focus svg circle {
        stroke: #fff         ;
    }
    nav a:focus svg {
        transform: scale(1.2);
    }
    .logo:focus svg {
        transform: scale(.8);
    }
}
@media( max-width: 640px ) {
    .mobile-links {
        top: 40px;
        background: #192932;
        width: auto;
        right: 0;
        opacity: 1;
        border-radius: 3px;
        border-bottom: 3px solid #ffc800;
        box-shadow: 0 -4px 10px 0px rgba(0,0,0,.3);
    }
    .app .mobile-links a {
        margin: 0;    
        padding: 15px;
        display: block;
        line-height: 1;
        opacity: 1;
        color: rgba(255,255,255,0.7);
    }
    .app .mobile-links a.active {
        color: rgba(255,255,255,1);
    }
    .app .mobile-links a:not(:last-of-type) {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .mobile-links svg {
        display: none;
    }
    .close-nav {
        position: relative;
        top: 1px;
    }
    
    .tertiary {
        width: 60px;
    }
    .tertiary a:first-of-type {
        margin-right: 10px;
    }
}

.toggle-theme {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.toggle-theme:hover {
    opacity: .8
}
@media ( max-width: 640px ) {
    .app {
        header, aside {
            position: fixed;
            width: 100%;
        }
        aside {
            top: 50px;
        }
        main {
            padding-top: 90px;
        }
    }
}

@media ( min-width: 641px ) and ( max-width: 768px ) {
    .app header {
        width: 80px;
    }
    .app aside {
        position: fixed;
        height: auto;
    }
    .secondary {
        margin-left: 80px;
    }
}