/* Header
****************************************************/
header {
    background-color: var(--header-bg);
    & svg, & a {
        transition: all .3s ease-out;
    }
    & nav a {
        @apply transition-opacity duration-100 ease-out;
        color: rgba(255,255,255,0.7);
    }
    & nav .active {
        color: #fff;
    }
    & nav .active path, 
    & nav .active circle {
        stroke: #ffc800;
    }
    & nav svg {
        width: 16px;
    }
    & nav path, 
    & nav circle {
        stroke: rgba(255,255,255,0.7);
    } 
    & .primary a {
        padding: 7px;
    }
    & .mobile-links .active {
        color: #000;
        font-weight: bold;
    }
    & .logo:focus,
    & nav a:focus {
        outline: none transparent;
        box-shadow: 0 0;
    }
    & nav a:focus svg path,
    & nav a:focus svg circle {
        stroke: #fff         ;
    }
    & nav a:focus svg {
        transform: scale(1.2);
    }
    & .logo:focus svg {
        transform: scale(.8);
    }
}
@media( max-width: 640px ) {
    .mobile-links {
        top: 40px;
        background: #192932;
        width: auto;
        right: 0;
        opacity: 1;
        border-radius: 3px;
        border-bottom: 3px solid #ffc800;
        box-shadow: 0 -4px 10px 0px rgba(0,0,0,.3);
    }
    .app .mobile-links a {
        margin: 0;    
        padding: 15px;
        display: block;
        line-height: 1;
        opacity: 1;
        color: rgba(255,255,255,0.7);
    }
    .tertiary .toggle,
    .tertiary .search {
        padding: 5px;
        display: block;
    }
    .app .mobile-links a.active {
        color: rgba(255,255,255,1);
    }
    .app .mobile-links a:not(:last-of-type) {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .mobile-links svg {
        display: none;
    }
    .close-nav {
        position: relative;
        top: 1px;
    }
    
    .tertiary {
        width: 60px;
    }
    .tertiary a:first-of-type {
        margin-right: 10px;
    }
}

.toggle-theme {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.toggle-theme:hover {
    opacity: .8
}
@media ( max-width: 640px ) {
    .app {
        & header, & aside {
            position: fixed;
            width: 100%;
        }
        & aside {
            top: 50px;
        }
        & main {
            padding-top: 90px;
        }
    }
    .subscribe main {
        padding-top: 70px;
    }
}

@media ( min-width: 641px ) and ( max-width: 768px ) {
    .app header {
        width: 80px;
    }
    .app aside {
        position: fixed;
        height: auto;
    }
    .secondary {
        margin-left: 80px;
    }
}

@media ( min-width: 768px ) {
    .active span.hidden {
        display: block;
        position: absolute;
        background: #fff;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        left: -3px;
        padding: 5px 12px 5px 34px;
        border-radius: 20px;
        z-index: 0;
        background: #222;
        border: 1px solid #00000078;
        box-shadow: 0 1px 1px #ffffff3b;
    }
    header .primary a.active {
        position: relative;
    }
    header .primary a.active .icon {
        position: relative;
        z-index: 2;
    }
}