/* Main Body
****************************************************/
main {
    background-color: var(--main-bg);
    
    & h1, & h2, & h3, & h4, & h5 {
        color: var(--heading-color);
    }
    & h1 {
        @apply mb-2 text-3xl font-bold leading-snug;
    }
    & h2 {
        @apply mb-2 text-2xl font-bold;
    }
    & h3 {
        @apply mb-2 text-xl font-bold;
    }
    & h1 + p {
        @apply mb-5 text-lg;
    }
    & p {
        @apply mb-5;
    }
    & ul, & ol {
        @apply mb-5 ml-5
    }
    & ul:not(.reset) li,
    & ol:not(.reset) li {
        @apply mb-3;
        list-style: circle;
    }
    & pre {
        background-color: #fdf6e3;
        padding: 1rem 1.25rem;
        white-space: pre-wrap;
    }
    & div.code-toolbar > .toolbar button {
        background: #111!important;
        color: #fff;
        box-shadow: 0 0 transparent;
        border-radius: 2px;
        padding: .2rem .5rem;
        margin-right: 2px;
    }
}
.two-col .app main {
	background: #f3f7f9f7;
}


#app .bm-burger-button {
    position: fixed;
    background-image: url(/bell.svg);
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: block;
    background-color: transparent;
    background-size: 25px 25px;
    top: 20px;
    right: 30px;
}
#app .bm-burger-button span {
    height: 0;
}
#app .bm-menu,
#app .bm-item-list>* {
    padding: 0;
}
.release-notes h2 {
    width: 100%;
    display: block;
}
nav.bm-item-list {
    margin: 0;
    width: 400px;
}
.bm-item-list>* {
    padding: 0;
    width: 100%;
}
.app .cross-style {
    top: 20px;
    right: 20px !important;
    left: auto;
    position: absolute;
}


.tutorials .notes-wrap button, 
.about.index .notes-wrap button,
.work .notes-wrap button, 
.credits .notes-wrap button, 
.themes .notes-wrap button,
.upcoming .notes-wrap button, 
.subscribe .notes-wrap button {
    right: 15px;
}


.tutorials.single .notes-wrap button {
    @apply p-3 bg-white;
}

/* SVG's */
.about.index .about-image path,
.home main figure svg path,
.about.index main figure path {
    fill: #1C2F39;
}

/* Email */
span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.wordpress .item:not(.beans) {
	display: none;
}
.gridsome .item:not(.jamstack) {
	display: none;
}

table th,
table td {
	@apply px-2 py-2;
}
table tr {
	@apply transition-all duration-500 ease-in-out shadow-sm;
}
table tbody tr:hover {
	@apply bg-yellow-100 shadow-md;
}

#app .list-reset,
#app .list-reset li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#app .tags li {
    @apply bg-gray-100 px-3 py-1 block rounded-full mr-3 mb-3
}

.contact .vue-expand {
    @apply block w-full mt-1 rounded-sm p-3 border border-indigo-600 bg-white;
}
.contact .vue-expand[min-row="3"] {
    min-height: 200px;
}
.contact .vue-expand[min-row="5"] {
    min-height: 300px;
}