.topics {
	& h1 {
		& strong:before {
			content: '#';
		}
	}
	& p:first-of-type {
		& a {
			line-height: 1;
			margin-right: 5px;
			font-weight: bold;
			text-transform: uppercase;
			border-radius: 2px;
			font-size: .9rem;
			display: inline-block;
		}
		& a:before {
			content: '#';
		}	
	}
}