.gallery > span {
	height: 160px;
	overflow: hidden;
}
article > div:first-of-type > div:first-of-type {
	margin-right: 5rem;
}
main {
	display: flex;
	flex-direction: column;
}
article {
	width: 100%;
}
.markdown,
.image {
	width: 100%;
	margin-top: 1.5rem;
}
@media (min-width: 1280px) {
	main.main {
		position: relative;
	}
	.image {
		max-width: 500px;
		order: 2;
		padding-top: 0;
		position: absolute;
		top: 1rem;
		height: 100vh;
		right: -8rem;
		.browser {
			height: fit-content;
		}
	}
	article {
		order: 1;
		width: 70%;
		position: relative;
	}
}

/* .lead {
	display: none;
} */

div#silentbox-overlay__embed img,
div#silentbox-overlay__embed iframe {
	max-height: fit-content;
	width: 100%;
	position: static !important;
}
div#silentbox-overlay__container {
	height: fit-content;
	overflow: scroll;
}
@media ( max-width: 480px ) {
	.gallery > span {
		height: 100px;
	}
}